header{
    #navbarSupportedContent{
        color: #fff !important;
        a{
            color: #fff !important;
            &.dropdown-item{
                color: #000 !important;
            }
        }
        .small{
            margin-left: 10px;
        }
        .big{
            font-size: 20px;
            margin-left: 10px;
        }
        .font-size{
            margin-right: 20px;
        }
        .social-share{
            border-left: 2px solid #fff;
            padding-left: 10px;
            @media (max-width: 767.98px) {
                border-left: none;
                padding-left: 0;
                margin-top: 5px;
            }
            i{
                font-size: 20px;
                background-color: #fff;
                width: 30px;
                height: 30px;
                text-align: center;
                color: #145aaf;
                line-height: 30px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                margin-right: 5px;
                &.fa-line{
                    color: #000000;
                }
            }
        }
        .form-control{
            background-color: #02b6ee;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            margin-left: 20px;
            width: 250px;
            font-size: 14px;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #fff;
            }
            &::-moz-placeholder { /* Firefox 19+ */
            color: #fff;
            }
            &:-ms-input-placeholder { /* IE 10+ */
            color: #fff;
            }
            &:-moz-placeholder { /* Firefox 18- */
            color: #fff;
            }
            &:before{
                content: "\F002";
                width: 10px;
                height: 10px;
                position: absolute;
            }
        }
        .fa-search{
            margin-left: -40px;
        }
    }
    .bg-head-1{
        background-color: #02b6ee;

    }
    .bg-head-2{
        background-color: #004358;
        padding: 2em;
        min-height: 100px;
        .navbar-nav{
            a{
                color: #fff !important;
            }
            .active{
                a{
                    color: #f1b809 !important;
                }
            }
        }
    }
    .dropdown-menu{
        min-width: auto;
    }
    .logo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    @media (max-width: 992px) {
        .logo{
            position: absolute;
            top: 5px;
            right: 0;
            left: auto;
            transform: translate(0, 0);
        }
        .logo.isMobile{
            display: block;
        }
        .bg-head-2.isWeb{
            display: none;
        }
    }
    .nav-link{
        img{
            margin-top: -4px;
        }
    }
}
#header-img{
    background-image: url("/assets/images/Teaser-banner-pc_e01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    @media (max-width: 767.98px) {
        background-image: url("/assets/images/Teaser-banner-mobile_e01.jpg");
    }
    .button-group {
        top: 40%;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 0;
    }
    .btn-custom {
        color: #fff;
        background-color: #02247d;
        border-color: #02237c;
        width: fit-content;
        width: -moz-max-content;
        white-space: nowrap;
        font-size: 0.95rem;
        &.btn-cancel {
            background-color: #db1827;
            border-color: #db1827;
            padding-left: 3rem;
            padding-right: 3.5rem;
        }
    }
    .btn-1,.btn-2{
        text-align: center;
        width: 100%;
        display: block;
        color: #fff;
        padding: 1rem 2rem;
        font-size: 26px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        &:hover{
            color: #fff;
        }
    }
    .btn-1{
        background-color:#02247e;
    }
    .btn-2{
        background-color:#db1827;
    }
    #header-btn{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @media (max-width: 992px) {
        padding-bottom: 20px;
        #header-btn{
            .row{
                width: 100%;
                margin: 0;
                .col-lg-6{
                    padding: 0;
                    width: 100%;
                }
            }
            position: absolute;
            transform: translateX(0);
            bottom: -70px;
            top: auto;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            left: 0;
            padding: 0;
            width: 100%;
        }     
        .btn-1,.btn-2{
            font-size: 19px;
            width: 100%;
            text-align: center;
            display: block;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }      
    }
}

#sesion-update{
    margin-top: 3rem;
    
    .owl-nav{
        .owl-prev{
            position: absolute;
            left: -5.5%;
            top: 50%;
            transform: translateY(-50%);
            background-color: #ed1c24;
            width: 40px;
            height: 40px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            overflow: hidden;
            span{
                border: solid #fff;
                border-width: 0 2px 2px 0;
                display: inline-block;
                height: 8px;
                padding: 2px;
                position: absolute;
                left: 30%;
                top: 40%;
                transform: rotate(135deg) translate(-50%,-50%);
                transition: left 0.15s ease-in-out;
                width: 8px;
                text-indent: 1000px;
            }
        }
        .owl-next{
            position: absolute;
            right: -5.5%;
            top: 50%;
            transform: translateY(-50%);
            background-color: #ed1c24;
            width: 40px;
            height: 40px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            overflow: hidden;
            span{
                border: solid #fff;
                border-width: 0 2px 2px 0;
                display: inline-block;
                height: 8px;
                padding: 2px;
                position: absolute;
                left: 50%;
                top: 40%;
                transform: rotate(-45deg) translate(-50%,-50%);
                transition: right 0.15s ease-in-out;
                width: 8px;
                text-indent: 1000px;
            }
        }
    }
    h4{
        color: #004358;
        font-size: 30px;
        font-weight: bold;
    }
    .bg-light{
        display: inline-block;
        p{
            margin-top: 0;
            margin-bottom: 0;
            font-size: 13px;
        }
    }
    .gallery-item-next,.gallery-item-previous{
        p{
            display: none;
        }
    }
    .vdo-iframe{
        border:none;
        overflow:hidden;
        min-height:200px;
        @media (max-width: 992px) {
            min-height:300px;
        }
    }
    h4{
        a{
            font-size: 16px;
            float: rigth;
        }
    }
}
.opacity-img-0{
    opacity: 0;
    width: 100%;
}
#bg-news{
    background-image: url("/assets/images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 800px;
    margin-top: -30px;
    @media (max-width: 767.98px) {
        min-height: 650px;
    }
}
.icon-faq{
    position: relative;
    padding-left: 40px;
    margin-bottom: 1rem;
    &:after{
        background: url("/assets/images/icon-faq.png") no-repeat left center;
        background-size: cover;
        content: '';
        width: 30px;
        height: 30px;
        left: 0;
        top: 0;
        position: absolute;
    }
}
.icon-news{
    position: relative;
    margin-top: 12rem;
    color: #fff;
    padding-left: 40px;
    &:after{
        background: url("/assets/images/icon-news.png") no-repeat left center;
        background-size: cover;
        content: '';
        width: 30px;
        height: 30px;
        left: 0;
        top: 0;
        position: absolute;
    }
    a{
        float: right;
        color: #fff;
        font-size: 14px;
        margin-top: 10px;
    }
    @media (max-width: 767.98px) {
        font-size: 18px;
        &:after{
            top: -5px;
        }
        a{
            margin-top: 3px;
        }
    }
}
ul.news{
    margin-top: 1rem;
    li{
        list-style: none;
        float: left;
        border: 1px solid #fff;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        padding: 5px 20px;
        margin-left: 20px;
        margin-bottom: 10px;
        &.active{
            background-color: #e00023;
            border: 1px solid #e00023;
        }
        a{
            color: #fff;
            cursor: pointer;
            &:hover{
                color: #fff;
            }
        }
        @media (max-width: 767.98px) {
            margin-left: 10px;
        }
    }
    @media (max-width: 767.98px) {
        padding-left: 0;
    }
}
#slide-news{
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: #efefef;
    position: relative;
    .item{
        a{
            color: #000;
            cursor: pointer;
            &:hover{
                color: #000;
            }
        }
        p{
            height: 110px;
            overflow: hidden;
            padding: 10px;
            @media (max-width: 767.98px) {
                height: 60px;
            }
        }
        label{
            padding: 0 10px;
            color: #6e6e6e;
            position: relative;
            margin-left: 10px;
            &:before{
                position: absolute;
                left: 0;
                top: 50%;
                width: 4px;
                height: 15px;
                transform: translateY(-50%);
                background-color: #6e6e6e;
                content: "";
            }
        }
    }
    .owl-nav{
        .owl-prev{
            position: absolute;
            left: -5.5%;
            top: 50%;
            transform: translateY(-50%);
            background-color: #ed1c24;
            width: 60px;
            height: 60px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            overflow: hidden;
            span{
                border: solid #fff;
                border-width: 0 2px 2px 0;
                display: inline-block;
                height: 12px;
                padding: 2px;
                position: absolute;
                left: 30%;
                top: 40%;
                transform: rotate(135deg) translate(-50%,-50%);
                transition: left 0.15s ease-in-out;
                width: 12px;
                text-indent: 1000px;
            }
        }
        .owl-next{
            position: absolute;
            right: -5.5%;
            top: 50%;
            transform: translateY(-50%);
            background-color: #ed1c24;
            width: 60px;
            height: 60px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            overflow: hidden;
            span{
                border: solid #fff;
                border-width: 0 2px 2px 0;
                display: inline-block;
                height: 12px;
                padding: 2px;
                position: absolute;
                left: 50%;
                top: 40%;
                transform: rotate(-45deg) translate(-50%,-50%);
                transition: right 0.15s ease-in-out;
                width: 12px;
                text-indent: 1000px;
            }
        }
    }
}
#faq{
    margin-top: -110px;
    @media (max-width: 767.98px) {
        margin-top: 0;
    }
    .owl-nav{
        .owl-prev{
            position: absolute;
            left: -5.5%;
            top: 50%;
            transform: translateY(-50%);
            background-color: #ed1c24;
            width: 40px;
            height: 40px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            overflow: hidden;
            span{
                border: solid #fff;
                border-width: 0 2px 2px 0;
                display: inline-block;
                height: 8px;
                padding: 2px;
                position: absolute;
                left: 30%;
                top: 40%;
                transform: rotate(135deg) translate(-50%,-50%);
                transition: left 0.15s ease-in-out;
                width: 8px;
                text-indent: 1000px;
            }
        }
        .owl-next{
            position: absolute;
            right: -5.5%;
            top: 50%;
            transform: translateY(-50%);
            background-color: #ed1c24;
            width: 40px;
            height: 40px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            overflow: hidden;
            span{
                border: solid #fff;
                border-width: 0 2px 2px 0;
                display: inline-block;
                height: 8px;
                padding: 2px;
                position: absolute;
                left: 50%;
                top: 40%;
                transform: rotate(-45deg) translate(-50%,-50%);
                transition: right 0.15s ease-in-out;
                width: 8px;
                text-indent: 1000px;
            }
        }
    }
    .detail{
        label{
            display: block;
            font-size: 12px;
            margin-bottom: 0;
        }
        p{
            
            margin-bottom: 0;
            a{
                font-size: 12px;
            }
        }  
        .text{
            line-height: 17px;
        }
        .row{
            border-bottom: 2px solid #f6f6f6;
            margin: 20px 0;
            &:last-of-type{
                border-bottom: none;
            }
        }
    }
    .create{
        background: rgb(237,28,36);
        background: linear-gradient(90deg, rgba(237,28,36,1) 0%, rgba(211,14,18,1) 50%, rgba(185,0,0,1) 100%);
        color: #fff;
        padding: 10px 20px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
    }
    .more{
        color: #fff;
        margin-right: 10px;
        @media (max-width: 767.98px) {
            color: #000;
        }
    }
    .img-info{
        @media (max-width: 767.98px) {
            margin-top: 20px;
        }
    }
}
.social_share{
    margin-top: 5px;
    list-style: none;
    float: right;
    li{
        float: left;
        font-size: 12px;
        padding: 0 10px;
        position: relative;
        &:after{
            position: absolute;
            background-color: #999999;
            content: '';
            width: 1px;
            height: 10px;
            right: 0;
            top: 5px;
        }
        &:last-of-type{
            &:after{
                display: none;
            }
        }
    }
    @media (max-width: 767.98px) {
        padding-left: 0;
    }
}
#vdo{
    background-color: #2a2f33;
    h2{
        color: #fff;
    }
    .owl-nav{
        .owl-prev{
            position: absolute;
            right: 35px;
            top: -30%;
            background-color: #f2f2f2;
            width: 30px;
            height: 30px;
            overflow: hidden;
            span{
                border: solid #3a3a3a;
                border-width: 0 2px 2px 0;
                display: inline-block;
                height: 12px;
                padding: 2px;
                position: absolute;
                left: 12%;
                top: 33%;
                transform: rotate(135deg) translate(-50%, -50%);
                transition: left 0.15s ease-in-out;
                width: 12px;
                text-indent: 1000px;
            }
        }
        .owl-next{
            position: absolute;
            right: 0;
            top: -30%;
            background-color: #f2f2f2;
            width: 30px;
            height: 30px;
            overflow: hidden;
            span{
                border: solid #3a3a3a;
                border-width: 0 2px 2px 0;
                display: inline-block;
                height: 12px;
                padding: 2px;
                position: absolute;
                left: 50%;
                top: 34%;
                transform: rotate(-45deg) translate(-50%,-50%);
                transition: right 0.15s ease-in-out;
                width: 12px;
                text-indent: 1000px;
            }
        }
    }
}
.live{
    position: relative;
    height: 50px;
    padding-left: 80px;
    line-height: 45px;
    font-weight: bold;
    font-size: 20px;
    &:before{
        content: "LIVE";
        background-color: #ff3051;
        padding: 15px;
        font-size: 24px;
        position: absolute;
        line-height: 20px;
        left: 0;
        top: 0;
        color: #fff;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
}
#live{
    @media (max-width: 992px) {
        margin-top: 5rem;
    }
}
.bg-while{
    background-color: #fff;
}
@media (min-width: 768px){
    .isMobile{
        display: none;
    }
    .isWeb{
        display: block;
    }
}
@media (max-width: 767.98px) {
    .isWeb{
        display: none;
    }
    .isMobile{
        display: block;
    }
}
#info-list{
    h1{
        @media (max-width: 992px) {
            font-size: 28px;
        }
    }
    .box{
        border-bottom: 1px solid #ccc;
        .image{
            height: 100px;
            overflow: hidden;
        }
        p{
            margin-top: 1rem;
        }
    }
}